@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Source Sans Pro from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Define the default font-family as Source Sans Pro globally */
@layer base {
  body {
    @apply font-sans; /* Apply Tailwind's sans-serif class */
    font-family: 'Source Sans Pro', sans-serif; /* Use Source Sans Pro as the font */
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
}